body {
  background: blue;
  color: yellow;
}

h1 {
  text-align: center;
}

.bar {
  border: solid white;
  background: seagreen;
  text-align: center;
  margin: 12px
}

.bar:hover {
  background: purple;
}
